html, body {
  height: 100%;
  width: 100%;
  //  position: absolute;
}

#teresopolis {
  height: 95%;
  width: 95%;
}
h1{
  color: red;
  text-align: center;
border-style: solid;
}
/* img {
  position: absolute;
  top: 15%
  left: 1%
  z-index: 500;
} */
